.card-container {
  width: 317px;
  background-color: #1A1B21;
  border-radius: 10px;
  overflow: hidden;
}

.info-image {
  width: 100%;
  height: auto;
  display: block;
}

.footer-icon {
  font-size: 25px;
  color: #918E9B;
  cursor: pointer;
  transition: color 0.2s;
}

.footer-icon:hover {
  color: #F5F5F5;
}
