.card-container {
  width: 317px;
  background-color: #1A1B21;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.info-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 317px;
  object-fit: cover;
}

.info-name,
.info-title,
.info-website {
  text-align: center;
  display: block;
  width: 100%;
}

.info-name {
  font-size: 1.56rem;
  margin-top: 21px;
  margin-bottom: 0;
  color: #FFFFFF;
}

.info-title {
  margin-top: 4px;
  margin-bottom: 0;
  color: #f3bf99;
  font-size: 1.06rem;
}

.info-website {
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 9px;
  margin-bottom: 15px;
}

.info-buttons {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-bottom: 20px;
}

.btn-email, .btn-linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid #d1d5db;
  text-decoration: none;
  padding: 9px 13px 9px 11px;
}

.btn-email {
  background: #ffffff;
  color: #374151;
}

.btn-linkedin {
  background: #5093e2;
  color: #ffffff;
}

.btn-linkedin a {
  text-decoration: none;
  color: inherit;
}

.card-section {
  padding: 0 35px;
  text-align: left;
}

.section-title {
  color: #F5F5F5;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

.section-text {
  color: #DCDED2;
  line-height: 1.5;
  margin: 0;
}

.footer-container {
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 15px 0;
  margin-top: 20px;
  border-radius: 0 0 10px 10px;
}

.footer-container a {
  text-decoration: none;
  color: inherit;
}

.footer-icon {
  font-size: 2.08rem;
  color: #918E9B;
  cursor: pointer;
  transition: color 0.2s;
}

.footer-icon:hover {
  color: #F5F5F5;
}