.card-container {
  width: 317px;
  background-color: #1A1B21;
  border-radius: 10px;
  overflow: hidden;
}

.info-image {
  width: 100%;
  height: auto;
  display: block;
}

.info-name,
.info-title,
.info-website {
  text-align: center;
  display: block;
  width: 100%;
}

.info-name {
  font-size: 2rem;
  margin-bottom: 0;
  color: #FFFFFF;
}

.info-title {
  margin-bottom: 0;
  margin-top: 0.2em;
  color: #f3bf99;
}

.info-website {
  color: #FFFFFF;
  text-decoration: none;
}

.info-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.btn-email, .btn-linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid #d1d5db;
  text-decoration: none;
  padding: 9px 13px 9px 11px;
}

.btn-email {
  background: #ffffff;
  color: #374151;
}

.btn-linkedin {
  background: #5093e2;
  color: #ffffff;
}

.footer-container a {
  text-decoration: none;
  color: inherit;
}

.footer-icon {
  font-size: 25px;
  color: #918E9B;
  cursor: pointer;
  transition: color 0.2s;
}

.footer-icon:hover {
  color: #F5F5F5;
}